.site-header
  padding: 0
  color: black
  border: 0
  &__search
    margin-right: 30px
  &__phone
    i
      margin-right: 5px
  &__first
    background: #f3fefd
    padding: 2px 0

    #woocommerce-product-search-field-0
      border: 0
      box-shadow: none
      background: white
    .main_search
      margin: 0
      min-width: 200px
      input[type='submit']
        display: inline-block
        width: 20px
        height: 20px
        background: red
        position: relative !important
    .btn__search
      width: inherit
      padding: 0
  &__second
    margin-top: 15px
    .col-md-7
      position: inherit
    .main-logo
      width: 200px
      display: block
      img
        width: 100%
        height: auto
    .menu-main
      margin-top: 30px
      &__item
        margin: 0 40px
        padding-bottom: 30px
        border-bottom: 2px solid white
        transition: .2s
        &>a
          font-size: 20px
          color: black
          font-weight: 500
          &:hover
            color: $blue
            text-decoration: none
          &:focus
            text-decoration: none
        &:hover
          border-bottom: 2px solid $blue
          &>div
            display: block
      &__cats
        position: absolute
        top: 100%
        width: 100%
        background: #fafafa
        padding: 10px 0 20px
        left: 0
        display: none
      &__catTitle
        font-size: 18px
        color: $blue
        margin: 10px 0
        display: block
        &:hover
          color: darken($blue,10)
      &__productNames
        a
          h2
            margin: 0
            font-size: 14px
            font-weight: 600
            color: black
  &__mobile
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: #f3fefd
    padding: 10px 0
    z-index: 99999
    &SearchBtn
      background: none
      outline: 0
      img
        width: 19px
        height: 20px
      &:hover,&:focus,&:active
        background: none
    &Logo
      width: 100px
      height: auto
    .toggleBtnM
      background: none
      svg
        width: 30px
        height: 22px
      path
        fill: #007eff
@media screen and (max-width: 1200px)
  .site-header
    &__second
      .menu-main
        &__item
          margin: 0 20px
    .m-phone
      font-size: 20px
      margin-top: 30px
      display: block
      color: black
      i
        margin-right: 10px