body
  margin: 0
  font-family: $d-font
.flex
  display: flex
  &--j-right
    justify-content: flex-end
  &--j-left
    justify-content: flex-start
  &--j-center
    justify-content: center
  &--j-between
    justify-content: space-between
  &--a-bottom
    align-items: flex-end
  &--a-top
    align-items: flex-start
  &--a-center
    align-items: center
  &--column
    flex-direction: column
  &--wrap
    flex-wrap: wrap
img
  display: block
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
  outline: 0
  box-shadow: none
.btn
  background: none
  border: 0
  outline: 0
  &:focus,
  &:active,
  &:hover
    outline: 0
    background: none
    border: 0
.relative
  position: relative

@media screen and (min-width: 768px)
  .mobile
    display: none

